*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  font-family: HelveticaNeue, Helvetica Neue, sans-serif;
  font-size: 13px;
  min-width: 320px;
}

shell-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow-x: auto;
}

content-container {
  display: flex;
  flex-direction: column;
  align-items: left; /* center */
  justify-content: start; /* center */
  height: 100%;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  margin: auto;
}

a:link,
a:visited,
a:hover,
a:active {
  color: #006666;
  text-decoration: none;
}
